* {
  margin: auto;
  color: #2a6087;
  font-size: calc(5px + 1vw);
  font-family: "Lucida Grande", Arial, sans-serif;
}

a {
  text-decoration: underline;
}

div#page-wrapper {
  padding: 7%;
  padding-bottom: 2%;
  background-color: #2a6087;
}

/* nav bar */

nav {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 2vw;
  font-size: 20px;
  width: 100%;
}
nav ul li {
  display: inline;
  padding-left: 1%;
  padding-right: 1%;
}
li#YAO a {
  color: white;
  font-size: calc(8px + 2.5vw);
  text-decoration: none;
}
nav ul li a {
  color: white;
  font-size: calc(7px + 1.5vw);
  text-decoration: none;
}
a:hover {
  color: black;
}
#YAO a:hover {
  color: black;
}
/* nav bar end */

h1 {
  text-align: center;
  padding: 3%;
  color: white;
  background-color: none;
  top: 30%;
  left: 50%;
  font-size: 4vw;
  margin-top: 5vw;
}
.col-lg-2 {
  padding: 0;
  border: solid black 3px;
}

div.rot {
  background-color: white;
  padding: 2%;
}
div.rot h2 {
  text-align: center;
  padding: 2%;
}
div.rot p {
  padding: 2%;
}
div.saa {
  color: white;
  background-color: #2a6087;
  padding: 2%;
}
div.saa h2 {
  color: white;
  text-align: center;
  padding: 2%;
}
div.saa p {
  color: white;
  padding: 2%;
}
div.card {
  background-color: white;
  padding: 5%;
  margin: 2%;
  padding-bottom: 5%;
  position: static;
  top: 80%;
}
div.card img {
  margin-bottom: 3%;
  width: 70%;
  text-align: center;
}
div.card h2,
h2 a {
  text-align: center;
  font-size: calc(30px + 1vw);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
p.source {
  font-size: calc(3px + 1vw);
}

h4 {
  text-align: center;
}

.gallary-img {
  margin-bottom: 2vw;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/* main content end*/

footer {
  background-color: #2a6087;
  text-align: center;
  color: white;
  padding-bottom: 2%;
}

footer p {
  text-align: center;
  color: white;
  font-size: calc(2px + 0.8vw);
  padding-top: 6%;
  background-color: #2a6087;
  color: white;
}

footer a {
  text-align: center;
  color: white;
  font-size: calc(2px + 0.8vw);
}

#break_nav {
  display: none;
}

@media screen and (max-width: 768px) {
  #break_nav {
    display: inline;
  }

  h1 {
    margin-top: 15vw;
  }
}
